.coder-name{
    font-family: Fira Code;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.coder-details{
}

.coder-sec{
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .coder-name {
        font-size: 1.5rem; 
    }

    .coder-sec {
        padding-bottom: 1rem;
    }
}