@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.top-text{
    text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.40);
    color: white;
    font-family: Fira Code;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    padding-left: 6rem;
    text-align: left;
    margin-top: -6rem;
}

.section-one{
    background-image: url('about.png');
    background-size: cover;
    height: 110vh;
}

.container{
    padding-top: 17rem;
    padding-bottom: 33rem;
}

.points{
    color: white;
    text-align: left;
    padding-left: 6rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.list{
    list-style-type: square;
}

.about-text {
    text-align: left;
    padding-left: 10rem;
    padding-top: 12rem;
    color: #0b0628;
}