@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.top-text{
    text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.40);
    color: white;
    font-family: Fira Code;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    padding-left: 6rem;
    text-align: left;
}

.section{
    background-image: url('about.png');
}
