.footer{
    background-size: cover;
    height: 373px;
    background-image: url('Footer.png');
    /* backgound: lightgray 0px -373.5px / 100% 270.241% no-repeat, rgba(32, 25, 25, 0.64); */
    color: #fff;
}

.footer-container{
    display: flex;
}

.socials{
    flex-basis: 30%;
}

.text-part{
    flex-basis: 70%;
    padding-right: 3rem;
}

.text-para{
    padding-right: 9rem;
}

.text-links{
    display: flex;
    flex-direction: row;
    gap: 7rem;
}